.grid {
    display: grid;
    justify-content: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.cell {
    width: 75px;
    height: 75px;
    font-size: xx-large;
}

.winningCell {
    width: 75px;
    height: 75px;
    font-size: xx-large;
    border-color: #49A249;
    background-color: #99D399;
}